/* FLEXBOX */
body {
  align-items: flex-start;
  background-color: #FAFFD8;
  display: flex;
  min-height: 100vh;
  padding-top: 2rem;
}

.flex-direction-row {
  background-color: #FAFFD8;
  flex-direction: row;
}

.flex-direction-row-button {
  background-color: #FAFFD8;
}

.flex-direction-col {
  background-color: #9AA899;
  flex-direction: column;
}

.flex-direction-col-button {
  background-color: #9AA899;
}

.wrap {
  background: linear-gradient(0deg, rgba(250,250,250,0) 0%, rgba(130,133,159,1) 60%, rgba(84,87,124,1) 100%);
  background-repeat: no-repeat;
  flex-wrap: wrap;
}

.wrap-button {
  background-color: #54577C;
  color: #e6e3d3;
}

.no-wrap {
  background: linear-gradient(0deg, rgba(250,250,250,0) 0%, rgba(236,255,176,1) 100%);
  background-repeat: no-repeat;
  flex-wrap: nowrap;
}

.no-wrap-button {
  background-color: #ECFFB0;
}

.flex-start {
  background-color: #4A7B9D;
  justify-content: flex-start;
}

.flex-start-button {
  background-color: #4A7B9D;
}

.flex-end {
  background-color: #2CA58D;
  justify-content: flex-end;
}

.flex-end-button {
  background-color: #2CA58D;
}

.center {
  background-color: #F46197;
  justify-content: center;
}

.center-button {
  background-color: #F46197;
}

.space-between {
  background-color: #FFAD69;
  justify-content: space-between;
}

.space-between-button {
  background-color: #FFAD69;
}

.space-around {
  background-color: #3b4e8a;
  justify-content: space-around;
}

.space-around-button {
  background-color: #3b4e8a;
  color: #e6e3d3;
}

.space-evenly {
  background-color: #F5E663;
  justify-content: space-evenly;
}

.space-evenly-button {
  background-color: #F5E663;
}

.align-flex-start {
  background-color: #e6beae;
  align-items: flex-start;
}

.align-flex-start-button {
  background-color: #e6beae;
}

.align-flex-end {
  background-color: #cbc0d3;
  align-items: flex-end;
}

.align-flex-end-button {
  background-color: #cbc0d3;
}

.align-center {
  background-color: #f4978e;
  align-items: center;
}

.align-center-button {
  background-color: #f4978e;
}

.align-stretch {
  background-color: #b8f2e6;
  align-items: stretch;
}

.align-stretch-button {
  background-color: #b8f2e6;
}

.align-baseline {
  background-color: #735d78;
  align-items: baseline;
}

.align-baseline-button {
  background-color: #735d78;
  color: #e6e3d3;
}

button {
  border: 1px solid white;
  border-radius: 10px;
  font-size: 0.8rem;
  line-height: 1rem;
  margin: 0.01rem;
  min-height: 8vh;
  padding: 0.4rem 0.5rem;
}
